<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to 'About', pages_about_path %>
    <%= link_to 'Tarifas Telefonicas', tarifas_new_path %>
  </body>
</html>
