<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://telcelv1.herokuapp.com/tarifas">KMRG</a>
      by Ricardo Acevedo
      </small>
      <nav>
      <ul>
        <li><%= link_to "About", pages_about_path %> </li>
      </ul>
      </nav>
    </footer>
  </div>
